In [1]:
import pandas as pd

# Define the file path
file_path = 'housing.csv'  # Change this to the path of your file

# Read the data from the file into a Pandas DataFrame
data = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
print(data.head())

           id             date   price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900         3       1.00         1180
1  6414100192  20141209T000000  538000         3       2.25         2570
2  5631500400  20150225T000000  180000         2       1.00          770
3  2487200875  20141209T000000  604000         4       3.00         1960
4  1954400510  20150218T000000  510000         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910
4      8080     1.0           0     0  ...      8        1680              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503

[5 rows x 21 columns]

In [2]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  int64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(4), int64(16), object(1)
memory usage: 3.5+ MB
None

In [3]:
# Count the occurrences of each unique value in the 'waterfront' column
waterfront_counts = data['waterfront'].value_counts()

# Print the counts
print(waterfront_counts)

0    21450
1      163
Name: waterfront, dtype: int64

In [4]:
# Find the maximum price
max_price = data['price'].max()

# Find the row(s) with the maximum price
max_price_row = data[data['price'] == max_price]

# Get the zip code(s) for the house(s) with the maximum price
max_price_zipcodes = max_price_row['zipcode'].unique()

# Print the result
print("The costliest house is in zip code(s):", max_price_zipcodes)

The costliest house is in zip code(s): [98102]

In [7]:
# Filter the DataFrame to include only houses with grade 10
grade_10_houses = data[data['grade'] == 10]

# Count the number of houses with grade 10
num_grade_10_houses = grade_10_houses.shape[0]

# Print the result
print("Number of houses with grade 10:", num_grade_10_houses)

Number of houses with grade 10: 1134

In [8]:
# Read the data from the file into a Pandas DataFrame
data = pd.read_csv(file_path)

# Count the number of null values in each column
null_counts = data.isnull().sum()

# Sum up the null values to get the total number of null values in the dataset
total_null_values = null_counts.sum()

# Print the result
print("Total number of null values in the dataset:", total_null_values)

Total number of null values in the dataset: 0

In [9]:
# Check if the customer with ID 9126100861 has a waterfront property
customer_data = data[data['id'] == 9126100861]

if not customer_data.empty:
    has_waterfront = customer_data['waterfront'].iloc[0]
    if has_waterfront == 1:
        print("Customer with ID 9126100861 has a waterfront property.")
    else:
        print("Customer with ID 9126100861 does not have a waterfront property.")
else:
    print("Customer with ID 9126100861 not found in the dataset.")

Customer with ID 9126100861 does not have a waterfront property.

In [10]:
# Filter the DataFrame to include only houses with 3 views
houses_with_3_views = data[data['view'] == 3]

# Count the number of houses with 3 views
num_houses_with_3_views = houses_with_3_views.shape[0]

# Print the result
print("Number of houses with 3 views:", num_houses_with_3_views)

Number of houses with 3 views: 510

In [11]:
# Find the lowest price
lowest_price = data['price'].min()

# Print the result
print("Lowest price of the house:", lowest_price)

Lowest price of the house: 75000

In [12]:
# Find the minimum price
min_price = data['price'].min()

# Find the row(s) with the minimum price
min_price_row = data[data['price'] == min_price]

# Get the zip code(s) for the house(s) with the minimum price
min_price_zipcodes = min_price_row['zipcode'].unique()

# Print the result
print("The cheapest house is in zip code(s):", min_price_zipcodes)

The cheapest house is in zip code(s): [98022]

In [13]:

# Find the maximum sqft_living
max_sqft_living = data['sqft_living'].max()

# Find the row(s) with the maximum sqft_living
max_sqft_living_row = data[data['sqft_living'] == max_sqft_living]

# Get the area(s) with the maximum sqft_living
max_sqft_living_area = max_sqft_living_row['zipcode'].unique()

# Print the result
print("The area(s) with the biggest sqft_living:", max_sqft_living_area)

The area(s) with the biggest sqft_living: [98053]

In [14]:
# Find the maximum price
max_price = data['price'].max()

# Find the row(s) with the maximum price
max_price_row = data[data['price'] == max_price]

# Get the year(s) when the costliest house(s) were built
costliest_house_years = max_price_row['yr_built'].unique()

# Print the result
print("The costliest house(s) were built in year(s):", costliest_house_years)

The costliest house(s) were built in year(s): [1910]

In [15]:
import pandas as pd

# Creating a Series with specified data type
s = pd.Series([1, 2, 3], dtype='float64')

In [17]:
import pandas as pd

# Creating a one-dimensional array (Pandas Series)
s = pd.Series([1, 2, 3, 4, 5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [18]:
import pandas as pd

# Creating a Pandas Series
s = pd.Series([10, 20, 30, 40, 50])

# Printing the Series
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [20]:
import pandas as pd

# Define the function to increase grade based on sqft
def increase_grade(row):
    if row['sqft_living'] > 0 and row['sqft_living'] <= 400:
        return row['grade'] + 1
    elif row['sqft_living'] > 400:
        return row['grade'] + 2
    else:
        return row['grade']

# Read the data from the file into a Pandas DataFrame
#data = pd.read_csv('your_file_path_here.csv')  # Change this to the path of your file

# Apply the function to each row of the DataFrame
data['new_grade'] = data.apply(increase_grade, axis=1)

# Print the DataFrame to see the result
print(data.head())

           id             date   price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900         3       1.00         1180
1  6414100192  20141209T000000  538000         3       2.25         2570
2  5631500400  20150225T000000  180000         2       1.00          770
3  2487200875  20141209T000000  604000         4       3.00         1960
4  1954400510  20150218T000000  510000         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...        1180              0
1      7242     2.0           0     0  ...        2170            400
2     10000     1.0           0     0  ...         770              0
3      5000     1.0           0     0  ...        1050            910
4      8080     1.0           0     0  ...        1680              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15  new_grade
0        5650          9
1        7639          9
2        8062          8
3        5000          9
4        7503         10

[5 rows x 22 columns]

In [23]:
correlation = data['sqft_living'].corr(data['sqft_above'])
print("Correlation between sqft_living and sqft_above:", correlation)

Correlation between sqft_living and sqft_above: 0.876596598681318